<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- with .Site.Params.description }}
  <meta name="description" content="{{ . }}">
  {{- end }}
  {{ printf `<link rel="icon" type="image/webp" href="%s">` ("icon.webp" | relURL) | safeHTML }}
  {{- with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}
  {{ printf `<link rel="stylesheet" href="%s">` (resources.Get "css/main.css").RelPermalink | safeHTML }}
  {{ printf `<link rel="stylesheet" href="%s">` (resources.Get "css/min770px.css").RelPermalink | safeHTML }}
  {{ printf `<link rel="stylesheet" href="%s">` (resources.Get "css/syntax.css").RelPermalink | safeHTML }}
  <link rel="canonical" href="{{ .Permalink }}">
  <title>{{ .Title }}</title>
</head>
